{
  "root": true,
  "env": {
    "es2020": true,
    "node": true,
    "mocha": true
  },
  "ignorePatterns": ["build/"],
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "eslint-config-pyosh",
    "eslint-config-pyosh/typescript",
    "eslint-config-pyosh/prettier"
  ],
  "settings": {
    "import/external-module-folders": [".yarn"]
  },
  "rules": {}
}
